*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

/* container */

.login-container{
display:flex;
justify-content:center;
align-items:center;
width:100%;
}

/* login card */

.login-box{
width:380px;
padding:40px;
border-radius:12px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
box-shadow:0 10px 40px rgba(0,0,0,0.6);
text-align:center;
color:white;
}

.login-box h1{
margin-bottom:10px;
}

.subtitle{
font-size:14px;
color:#ccc;
margin-bottom:20px;
}

/* inputs */

input{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:6px;
background:rgba(255,255,255,0.1);
color:white;
outline:none;
}

input::placeholder{
color:#ccc;
}

/* button */

button{
width:100%;
padding:12px;
border:none;
border-radius:6px;
background:#3b82f6;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#2563eb;
}

/* error */

#error{
color:red;
margin-top:10px;
}

/* links */

.link{
margin-top:10px;
font-size:14px;
}

.link a{
color:#60a5fa;
text-decoration:none;
}

.link a:hover{
text-decoration:underline;
}